/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */


  a {
	background: transparent;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: transparent;
		-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

 a:hover {
    color: red;
    cursor: auto;
    text-decoration: underline;
}


h1 {
padding-bottom: 10px;
    margin: 0 0 5px;
    font-size: 5em;
    font-weight: bold;
    font-family: 'Baskerville', serif;
    border-bottom: 1px solid #ccc;
		display: block;
		color: rgb(152,173,166);
}

p {
	color: #555;
    font-size: 1em;
    margin: 0 0 20px 0;
}

h2 {
	color: rgb(111,127,122);
    font-size: 2em;
}

footer {
	text-align: right;
	font-size: 0.8em;
	color: #555;
  margin: 0 0 20px 0;
	display: block;
	-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

#featured {
	border: 5px rgb(152,173,166) solid;
}

#press img {
    border: 5px #ccc solid;
    padding: 1px;
}
