/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

#logo { /* select elements with id="logo" */
 font: bold 2.2em 'Libre Baskerville', serif;
 color: rgb(152, 173, 166);
}

p {
	color: #555;
    font-size: 1em;
    margin: 0 0 20px 0;
}

h2 {
	color: rgb(111,127,122);
    font-size: 2em;
}
